body {
  background-image: url('https://cdn.vectorstock.com/i/500p/68/37/abstract-of-gradient-red-background-vector-22226837.jpg');
}

h1{
color:white;
text-align: center;
background-color: rgba(179, 0, 32, 0.8);
width:100%;
}

h2{
text-align:center;

}

h3{
text-align:center;

}

h4{
text-align:center;

}

p{
text-align:center;

}

.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 30em;
}

.image-center{
  display:inline-block;
  text-align: center;
  width: 100%;
  
}
